
<%- contentFor('title') %>
Registration Page 1

<%- contentFor('go_left') %>

<%- contentFor('go_right') %>
<a href="/page2"><i class="glyphicon glyphicon-arrow-right navicon"></i></a>

<%- contentFor('body') %>
<div class="jumbotron">
<div id="header_text">
<img id="header_logo" src="/assets/images/D_small_transparent.png" alt="D logo" height="64" width="64" />ramaFest Registration
</div>
</div>

<h2>1 / 3</h2>

<div class="well well-large">
<form action="/page1" method="post" id="page1">
  <DIV class="form-group">
    <label for="field11">Name of Production:</label>
    <TEXTAREA NAME="field11" class="form-control"><%= page.field11  %></TEXTAREA>
    <% if ( (errz !== undefined)  && (errz.field11 !== undefined ) ) { %>
      <div class="error"><%= errz.field11 %></div>
    <% } %>
  </DIV>

  <DIV class="form-group">
    <label for="field12">Playwright(s):</label>
    <TEXTAREA NAME="field12" class="form-control"><%= page.field12 %></TEXTAREA>
    <% if ( (errz !== undefined ) && (errz.field12 !== undefined ) ) { %>
      <div class="error"><%= errz.field12 %></div>
    <% } %>
  </DIV>

  <DIV class="form-group">
    <label for="field13">Summary:</label>
    <TEXTAREA NAME="field13" class="form-control"><%= page.field13 %></TEXTAREA>
    <% if ( (errz !== undefined ) && (errz.field13 !== undefined ) ) { %>
      <div class="error"><%= errz.field13 %></div>
    <% } %>
  </DIV>

  <DIV class="form-group">
    <label for="field14">Play duration:</label>
    <TEXTAREA NAME="field14" class="form-control" placeholder="1 hour 35 minutes"><%= page.field14 %></TEXTAREA>
    <% if ( (errz !== undefined ) && (errz.field14 !== undefined ) ) { %>
      <div class="error"><%= errz.field14 %></div>
    <% } %>
  </DIV>

  <input type="submit" role="button" class="button btn-primary btn-large" value="Save" id="submit" />
</form>
</div>
