
<%- contentFor('title') %>
Registration Page 1

<%- contentFor('body') %>

<div class="jumbotron">
  <%= page.current_user %>
</div>

<div class="well well-large">
<form action="/page1" method="post" id="page1">
  <DIV class="form-group">
    <label for="field1">Field 1:</label>
    <TEXTAREA NAME="field11" class="form-control"><%= page.field11  %></TEXTAREA>
  </DIV>

  <DIV class="form-group">
    <label for="field2">Field 2:</label>
    <TEXTAREA NAME="field12" class="form-control"><%= page.field12 %></TEXTAREA>
  </DIV>

  <input type="submit" role="button" class="button btn-primary btn-large" value="Save" id="submit" />
</form>
</div>
