<%- contentFor('title') %>
Registration Page 3

<%- contentFor('go_left') %>
<a href="/page2"><i class="glyphicon glyphicon-arrow-left navicon"></i></a>

<%- contentFor('go_right') %>

<%- contentFor('body') %>

<div class="jumbotron">
<div id="header_text">
<img id="header_logo" src="/assets/images/D_small_transparent.png" alt="D logo" height="64" width="64" />ramaFest Registration
</div>
</div>

<h2>3 / 3</h2>

You are logged in as <b><%= page.current_user %></b>

<div class="well well-large">
  <form action="/page3" method="post" id="page3">
    <DIV class="form-group">
      <label for="field31">Field 31:</label>
      <TEXTAREA NAME="field31" class="form-control"><%= page.field31  %></TEXTAREA>
      <% if ( (errz !== undefined)  && (errz.field31 !== undefined ) ) { %>
        <div class="error"><%= errz.field31 %></div>
        <% } %>

      </DIV>

      <DIV class="form-group">
        <label for="field32">Field 32:</label>
        <TEXTAREA NAME="field32" class="form-control"><%= page.field32 %></TEXTAREA>
        <% if ( (errz !== undefined)  && (errz.field32 !== undefined ) ) { %>
          <div class="error"><%= errz.field32 %></div>
          <% } %>

        </DIV>

        <input type="submit" role="button" class="button btn-primary btn-large" value="Save" id="submit" />

        <script>

        function time_format(t,unit) {
          let result = ( t < 10 )  ? '0' + t : t;
          result += ' ' + unit;
          result += ( t == 1 ) ? '' : 's';
          result += '. ';
          return result;
        }

        function counter_label() {
          let deadline = new Date('<%= process.env.SUBMISSION_DEADLINE %>');
          let current_time = Date.now();
          let interval = parseInt( Math.floor( (deadline - current_time ) / 1000 ) ) || 0; // seconds
          if ( interval > 0 ) {
            let dd = parseInt( Math.floor(  interval / (24 * 3600) ) ) || 0;
            let hh = parseInt( Math.floor(( interval - ( dd * 24 * 3600 ) ) / 3600) ) || 0;
            let mm = parseInt( Math.floor(( interval - ( dd * 24 * 3600 ) - ( hh * 3600 ) ) / 60 ) ) || 0;
            let ss = parseInt( Math.floor(( interval - ( dd * 24 * 3600 ) - ( hh * 3600 ) - ( mm * 60 ) ) ) ) || 0;


            dd = time_format( dd, 'day' );;
            hh = time_format( hh, 'hour' );;
            mm = time_format( mm, 'minute' );;
            ss = time_format( ss, 'second' );;

            $("#final_submit").val( "Time Remaining: " + dd + hh + mm + ss );
            setTimeout(counter_label,1000);
          } else {
            // The time has come!
            $("#final_submit").val('Proceed!');
          }
        }
        </script>
        <script>
        $(document).ready(function() {
          counter_label();
        });
        </script>


        <input type="submit" role="button" class="button btn-primary btn-large" value="Submit" id="final_submit" />

      </form>
    </div>
